.confirmationScreen{
  width:50%;
  margin: 0 auto;
  // display: inline-block;
  text-align: center;
  margin-left: 25%;
  margin-top: 10%;
  border-top: lightgrey dotted 2px;
  border-bottom: lightgrey dotted 2px;
  padding-bottom: 2.5%;
  .backToDashboard{
    width: 80%;
    font-size: 1.25rem;
    border-radius: 15px;
  }
}
