*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:85%;
  margin:0 auto;
  font-family: 'Pathway Gothic One', sans-serif;
  background:#fff;
  color:#854E19;
}

section{
  display:none;
  width:100%;
  margin-top:10%;
}

.active{
  display:inline-block;
}
