nav{

}

h1{


}


.col1{
  width:48%;
  display: inline-block;

}

.col2{
  width:48%;
  display:inline-block;
}

h3{
  text-align: center;

}

.beerWords h6{
    display: inline-block;
}
h6{


}
p{

}
img{
  width: 40%;
  margin-left: 29%;
}
