.loginScreenInner{
  width:50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  input{
    width: 75%;
    margin: 1% 0;
    font-size: 1.25rem;
    padding: 10px;
    border: none;
    background: #E8E8E8;
    transition:.2s all;
    &:focus {
    outline: none;
    border-bottom: 2px solid #39356B;
    color: #39356B;
    background: white;
    }
  }
  input[type="text"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder{
  color:#39356B;
  }
  .submitLogin{
    width: 40%;
    font-size: 1.25rem;
    border-radius: 35px;
    margin-top: 10%;
    padding: 10px;
    border: none;
    color: white;
    background: #DA9E58;
  }
  h1{
    color:#39356B;
    font-size: 8vw;
    margin: 5px 0;
    font-family: 'Averia Serif Libre', sans-serif;
    text-transform:uppercase;
    transform: rotate(-8deg);
    line-height:7vw;
  }
  p{
    color:#A03401;
  }
  .login-box {
    margin-top: 10%;
    border: 1px solid #e8e8e8;
    padding: 10% 5% 5% 5%;
  }
  form {
    margin: 10% 0;
  }
}
