* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 85%;
  margin: 0 auto; }

section {
  display: none; }

.active {
  display: inline-block; }

.loginScreen {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-left: 25%;
  margin-top: 10%;
  border-top: lightgrey dotted 2px;
  border-bottom: lightgrey dotted 2px;
  padding-bottom: 2.5%;
  padding-top: 2.5%; }
  .loginScreen input {
    width: 60%;
    margin-top: 2.5%;
    font-size: 1.25rem; }
  .loginScreen .submitLogin {
    width: 40%;
    font-size: 1.25rem;
    border-radius: 15px;
    margin-top: 2.5%; }

.dashboardScreen {
  width: 100%;
  margin: 0 auto; }
  .dashboardScreen h1 {
    text-align: center;
    font-size: 3rem; }

nav {
  background-color: #39D7A3;
  height: 4rem;
  margin-top: 2%;
  position: relative;
  margin-bottom: 8%; }

.addReview {
  position: absolute;
  margin-left: 30%;
  width: 40%;
  height: 50%;
  border-radius: 20px;
  font-size: 1.5rem; }

.beerBox {
  border: grey 2px solid;
  width: 44%;
  display: inline-block; }
  .beerBox:nth-child(even) {
    margin-left: 15px;
    margin-right: 8%; }

h3 {
  margin-top: 5%;
  text-align: center;
  font-size: 1.75rem; }

.beerWords h6 {
  display: inline-block;
  text-align: center;
  margin-left: 10%;
  font-size: 1.25rem;
  margin-bottom: 5%; }

.beerWords h6:first-child {
  margin-left: 23%; }

.imgBox {
  width: 100%;
  max-height: 300px;
  overflow: hidden; }

img {
  width: 100%; }

.reviewScreen {
  width: 40%;
  margin: 0 auto;
  border: 2px lightgrey solid; }
  .reviewScreen h1 {
    font-size: 2.5rem;
    text-align: center; }
  .reviewScreen .beerName, .reviewScreen .imgUrl, .reviewScreen .beerType, .reviewScreen .abv {
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
    margin-top: 5%; }
  .reviewScreen h4 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 5%;
    margin-bottom: 5%; }
  .reviewScreen .submitReview {
    width: 100%;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-top: 5%; }

label {
  padding-left: 15%; }

.confirmationScreen {
  width: 50%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  margin-left: 25%;
  margin-top: 10%;
  border-top: lightgrey dotted 2px;
  border-bottom: lightgrey dotted 2px;
  padding-bottom: 2.5%; }
  .confirmationScreen .backToDashboard {
    width: 80%;
    font-size: 1.25rem;
    border-radius: 15px; }
