* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 80%;
  margin-left: 10%; }

.col1 {
  width: 48%;
  display: inline-block; }

.col2 {
  width: 48%;
  display: inline-block; }

h3 {
  text-align: center; }

.beerWords h6 {
  display: inline-block; }

img {
  width: 40%;
  margin-left: 29%; }
